@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="utf-8">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>

    <!-- Favicons Icon -->
    <link rel="icon" href="http://demo.magikthemes.com/skin/frontend/base/default/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="http://demo.magikthemes.com/skin/frontend/base/default/favicon.ico" type="image/x-icon" />

    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS Style -->
    <link rel="stylesheet" href="~/assets/css/animate.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-rtl.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/revslider.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/custom.css" type="text/css">

</head>

<body>
    <div class="page">
        <!-- Header -->
        <header class="header-container">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <!-- Header Top Links -->
                        <div class="toplinks">
                            <div class="links">
                                <div class="myaccount"><a title="حساب کاربر من" href="login.html"><span class="hidden-xs">حساب کاربر من</span></a></div>
                                @*<div class="wishlist"><a title="My Wishlist"  href="wishlist.html"><span class="hidden-xs">Wishlist</span></a></div>*@
                                <div class="check"><a title="اتمام خرید" href="@Url.Action("Checkout","ShoppingCart")"><span class="hidden-xs">اتمام خرید</span></a></div>
                                @if (Request.IsAuthenticated)
                                {
                                    <div class="logout"><a title="خارج شدن" href="@Url.Action("Logout","Account")"><span class="hidden-xs">خروج کاربر @User.Identity.GetUserName()</span></a></div>
                                }
                                else
                                {
                                    <div class="login"><a title="وارد شدن" href="@Url.Action("Login","Account")"><span class="hidden-xs">وارد شدن</span></a></div>
                                }
                            </div>
                        </div>
                        <!-- End Header Top Links -->
                    </div>
                </div>
            </div>
            <div class="header container">
                <div class="row">
                    <div class="col-lg-2 col-sm-3 col-md-2 pull-left">
                        <!-- Header Logo -->
                        <a class="logo" title=" " href="@Url.Action("Index", "Home")"><img alt=" " src="~/assets/images/logo.png"></a>
                        <!-- End Header Logo -->
                    </div>
                    <div class="col-lg-8 col-sm-6 col-md-8">
                        <!-- Search-col -->
                        <div class="search-box">
                            <form action="/Home/Search" method="POST" id="search_mini_form" name="Categories" dir="rtl">
                                @Html.AntiForgeryToken()
                                <input type="text" placeholder="نام مقاله مورد نظر خود را جستجو کنید...." value="" maxlength="100" class="" name="search" id="search">
                                <button type="submit" id="submit-button" class="search-btn-bg"><span>جستجو</span></button>
                            </form>
                        </div>
                        <!-- End Search-col -->
                    </div>
                    <!-- Top Cart -->
                    <div class="col-lg-2 col-sm-3 col-md-2" dir="rtl">
                        <div class="top-cart-contain">
                            <div class="mini-cart">
                                <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle">
                                    <a href="#">
                                        <i class="glyphicon glyphicon-shopping-cart"></i>
                                        <div class="cart-box">
                                            <span class="title">سبد</span>@*<span id="cart-total">2 item </span>*@
                                        </div>
                                    </a>
                                </div>
                                <div id="invoice">
                                    @RenderSection("Carts", false)
                                </div>
                            </div>
                            <div id="ajaxconfig_info">
                                <a href="#/"></a>
                                <input value="" type="hidden">
                                <input id="enable_module" value="1" type="hidden">
                                <input class="effect_to_cart" value="1" type="hidden">
                                <input class="title_shopping_cart" value="Go to shopping cart" type="hidden">
                            </div>
                        </div>
                    </div>
                    <!-- End Top Cart -->
                </div>
            </div>
        </header>
        <!-- end header -->
        <!-- Navbar -->
        <nav>
            <div class="container">
                <div class="nav-inner">
                    <div class="logo-small pull-left">
                        <a class="logo" title="فروش مقاله" href="@Url.Action("Index","Home")"><img alt="فروش مقاله" src="~/assets/images/logo.png"></a>
                    </div>
                    <!-- mobile-menu -->
                    <div class="hidden-desktop pull-right" id="mobile-menu">
                        <ul class="navmenu">
                            <li>
                                <div class="menutop">
                                    <div class="toggle"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></div>
                                    <h2>منو</h2>
                                </div>
                                <ul class="submenu pull-right">
                                    <li>
                                        <ul class="topnav">
                                            <li class="level0 nav-1 level-top ">
                                                <a class="level-top" href="@Url.Action("Index","Home")"><span>خانه</span> </a>
                                            </li>
                                            <li class="level0 nav-2 level-top ">
                                                <a class="level-top" href="@Url.Action("About","Home")"><span>درباره ما</span> </a>
                                            </li>
                                            <li class="level0 nav-3 level-top ">
                                                <a class="level-top" href="@Url.Action("Shop","Home")"><span>فروشگاه</span> </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!--navmenu-->
                    </div>

                    <!--End mobile-menu -->
                    <ul id="nav" class="hidden-xs  pull-right">
                        <li id="nav-home" class="level0 parent drop-menu">
                            <a href="@Url.Action("Index","Home")" class="active"><span>خانه</span> </a>
                        </li>
                        <li id="nav-about" class="level0 parent drop-menu">
                            <a href="@Url.Action("About","Home")"><span>درباره ما</span> </a>
                        </li>
                        @*<li id="nav-faq" class="level0 parent drop-menu">
                                <a href="@Url.Action("Faq","Home")"><span>راهنما و شرایط</span> </a>
                            </li>*@
                        <li class="level0">
                            <a class="level-top" href="@Url.Action("Shop","Home")"><span>فروشگاه</span></a>

                            <!--level0-wrapper dropdown-6col-->
                            <!--mega menu-->

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- end nav -->
        @RenderBody()
        <footer class="footer wow bounceInUp animated">
            <div class="brand-logo ">
            </div>
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-7">
                            <div class="block-subscribe">
                                <div class="newsletter">
                                    <form>
                                        <h4>خبرنامه</h4>
                                        <input type="text" placeholder="ایمیل خود را وارد کنید" class="input-text required-entry validate-email" title="در خبرنامه ما عضو شوید" id="newsletter1" name="email">
                                        <button class="subscribe" title="Subscribe" type="submit"><span>ما را دنبال کنید</span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-5">
                            <div class="social">
                                <ul>
                                    <li class="fb">
                                        <a href="#"></a>
                                    </li>
                                    <li class="tw">
                                        <a href="#"></a>
                                    </li>
                                    <li class="googleplus">
                                        <a href="#"></a>
                                    </li>
                                    <li class="rss">
                                        <a href="#"></a>
                                    </li>
                                    <li class="pintrest">
                                        <a href="#"></a>
                                    </li>
                                    <li class="linkedin">
                                        <a href="#"></a>
                                    </li>
                                    <li class="youtube">
                                        <a href="#"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-middle container">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <div class="footer-logo">
                            <a href="index.html" title="Logo"><img src="~/assets/images/logo.png" alt="logo"></a>
                        </div>
                        <p>پروژه فروش مقاله های دانشجویی </p>
                        <div class="payment-accept">
                            <div><img src="~/assets/images/payment-1.png" alt="payment"> <img src="~/assets/images/payment-2.png" alt="payment"> <img src="~/assets/images/payment-3.png" alt="payment"> <img src="~/assets/images/payment-4.png" alt="payment"></div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <h4>راهنمای فروشگاه</h4>
                        <ul class="links">
                            <li class="first"><a href="faq.html" title="FAQs">راهنما</a></li>
                            <li><a href="#" title="Payment">روش های پرداخت</a></li>
                            <li class="last"><a href="#" title="Return policy">قوانین و شرایط</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <h4>مقاله های موجود</h4>
                        <ul class="links">
                            <li class="first"><a title="Your Account" href="login.html">فنی و مهندسی</a></li>
                            <li><a title="Information" href="#">ادبیات</a></li>
                            <li class="last"><a title="Addresses" href="#">هنر</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-4">

                    </div>
                    <div class="col-md-3 col-sm-4">
                        <h4>ارتباط با ما</h4>
                        <div class="contacts-info">
                            <address>
                                <i class="add-icon">&nbsp;</i>دانشگاه آزاد اسلامی واحد تهران جنوب <br>
                                &nbsp;ایران تهران
                            </address>
                            <div class="phone-footer"><i class="phone-icon">&nbsp;</i> +98 912 2121 2121 </div>
                            <div class="email-footer"><i class="email-icon">&nbsp;</i> <a href="#">support@test.com</a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5 col-xs-12 coppyright"> &copy; 1396. همه حقوق آن محفوظ شده است. طراحی شده توسط <a href="#">مونا سلیمانی</a> </div>
                        <div class="col-sm-7 col-xs-12 company-links">
                            <ul class="links"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->

    </div>
    <!-- JavaScript -->
    <script type="text/javascript" src="~/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.rtl.js"></script>
    <script type="text/javascript" src="~/assets/js/parallax.js"></script>
    <script type="text/javascript" src="~/assets/js/common.js"></script>
    <script type="text/javascript" src="~/assets/js/owl.carousel.min.js"></script>
    @RenderSection("main", false)
    @RenderSection("ProductDetail", false)
</body>

</html>