@model Article.ViewModels.ProductDetailViewModel
@{
    ViewBag.Title = Model.PersianTitle + Model.EnglishTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var count = 1;
}

<!-- main-container -->

<section class="main-container col1-layout">
    <div class="main container">
        <div class="col-main">
            <div class="row">
                <div class="product-view">
                    <div class="product-essential">
                        <form action="#" method="post" id="product_addtocart_form">
                            <input name="form_key" value="6UbXroakyQlbfQzK" type="hidden">
                            <div class="product-img-box col-lg-6 col-sm-6 col-xs-12">
                                <ul class="moreview" id="moreview">
                                    <li class="moreview_thumb thumb_1 moreview_thumb_active"> <img class="moreview_thumb_image" src="@Url.Content(Model.ImageUrl)" alt="thumbnail"> <img class="moreview_source_image" src="@Url.Content(Model.ImageUrl)" alt=""> <span class="roll-over">برای نمیش بهتر روی صفحه بچرخید تا تصویر را بزرگتر ببنید</span>                                                <img class="zoomImg" src="@Url.Content(Model.ImageUrl)" alt="thumbnail"></li>
                                    @*<li class="moreview_thumb thumb_2 moreview_thumb_active"> <img class="moreview_thumb_image" src="@Url.Content(Model.ImageUrl)" alt="thumbnail"> <img class="moreview_source_image" src="@Url.Content(Model.ImageUrl)" alt=""> <span class="roll-over">Roll over image to zoom in</span>                                                <img class="zoomImg" src="@Url.Content(Model.ImageUrl)" alt="thumbnail"></li>*@

                                </ul>
                                <div class="moreview-control">
                                    <a href="javascript:void(0)" class="moreview-prev"></a>
                                    <a href="javascript:void(0)" class="moreview-next"></a>
                                </div>
                            </div>
                            <div class="product-shop col-lg-6 col-sm-6 col-xs-12">
                                @*<div class="product-next-prev"> <a class="product-next" href="#"><span></span></a> <a class="product-prev" href="#"><span></span></a> </div>*@
                                <div class="product-name">
                                    <h1>@Model.PersianTitle</h1>
                                </div>
                                @*<div class="ratings">
                                        <div class="rating-box">
                                            <div class="rating"></div>
                                        </div>
                                        <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Your Review</a> </p>
                                    </div>*@
                                <p class="availability in-stock">شماره مقاله: <span>@Model.SKU</span></p>
                                @if (Model.Discount != null && Model.Discount == 0)
                                {
                                    <div class="price-block">
                                        <div class="price-box">
                                            <p class="old-price">
                                                <span class="price-label">قیمت معمول:</span> <span class="price"> @Model.Price تومان</span>
                                            </p>
                                            <p class="special-price">
                                                <span class="price-label">قیمت ویژه</span> <span class="price"> @Model.Discount تومان</span>
                                            </p>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="price-block">
                                        <div class="price-box">
                                            <p class="special-price">
                                                <span class="price-label">قیمت معمول:</span> <span class="price"> @Model.Price تومان</span>
                                            </p>
                                        </div>
                                    </div>
                                }
                                <div class="add-to-box pull-right">
                                    <div class="add-to-cart">
                                        @*<button onClick="productAddToCartForm.submit(this)" class="button btn-cart" title="دانلود فایل" type="button"><span><i class="icon-basket"></i>دانلود مقاله</span></button>*@
                                        <a href="@Url.Action("Buy","Products",new {Id = Model.ProductId})" class="button btn-cart" title="دانلود فایل" type="button"><span><i class="icon-basket"></i>دانلود مقاله</span></a>
                                        <div class="email-addto-box">
                                            <p class="email-friend"><a href="#" class=""><span>ارسال ایمیل به دوستان</span></a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="social pull-right">
                                    <ul>
                                        <li class="fb">
                                            <a href="#"></a>
                                        </li>
                                        <li class="tw">
                                            <a href="#"></a>
                                        </li>
                                        <li class="googleplus">
                                            <a href="#"></a>
                                        </li>
                                        <li class="rss">
                                            <a href="#"></a>
                                        </li>
                                        <li class="pintrest">
                                            <a href="#"></a>
                                        </li>
                                        <li class="linkedin">
                                            <a href="#"></a>
                                        </li>
                                        <li class="youtube">
                                            <a href="#"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="product-collateral">
                        <div class="col-sm-12 wow bounceInUp animated">
                            <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                                <li class="active"> <a href="#product_tabs_article" data-toggle="tab"> اطلاعات مقاله </a> </li>
                                <li> <a href="#product_tabs_description_Persian" data-toggle="tab"> توضیحات فارسی </a> </li>
                                <li> <a href="#product_tabs_description_English" data-toggle="tab"> توضیحات انگلیسی </a> </li>
                                <li> <a href="#reviews_tabs" data-toggle="tab">نظرات </a> </li>
                            </ul>
                            <div id="productTabContent" class="tab-content">
                                <div class="tab-pane fade in active" id="product_tabs_article">
                                    <div class="std">
                                        <ul class="list-group text-right text-black" dir="rtl">
                                            <li class="list-group-item list-group-item-info">
                                                <span class="text-bold">عنوان مقاله</span>
                                                <ul class="list-group text-black">
                                                    <li class="list-group-item">@Model.PersianTitle </li>
                                                    <li class="list-group-item">@Model.EnglishTitle </li>
                                                </ul>
                                            </li>
                                            <li class="list-group-item list-group-item-info">
                                                <span class="text-bold">نویسندگان (موسسه انتشار دهنده)</span>
                                                <ul class="list-group text-black">
                                                    <li class="list-group-item">@Model.AuthorName </li>
                                                </ul>
                                            </li>
                                            <li class="list-group-item list-group-item-info">
                                                <span class="text-bold">سال انتشار</span>
                                                <ul class="list-group text-black">
                                                    <li class="list-group-item">@Model.YearPublish </li>
                                                </ul>
                                            </li>
                                            <li class="list-group-item list-group-item-info">
                                                <span class="text-bold">منابع اتخاذ شده</span>
                                                <ul class="list-group text-black">
                                                    <li class="list-group-item">@Html.Raw(Model.Source) </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane fadeIn" id="product_tabs_description_Persian">
                                    <div class="std">
                                        @Html.Raw(Model.PersianDescription)
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="product_tabs_description_English">
                                    <div class="std">
                                        @Html.Raw(Model.EnglishDescription)
                                    </div>
                                </div>
                                <div class="tab-pane fadeIn" id="reviews_tabs">
                                    <div class="box-collateral box-reviews" id="customer-reviews">
                                        <div class="box-reviews1">
                                            <div class="form-add" dir="rtl">
                                                @using (Html.BeginForm("Comment", "Products", FormMethod.Post, new { @class = "", id = "review-form" }))
                                                {
                                                    <h3>نظر خود را بنویسید</h3>
                                                    <fieldset>
                                                        <h4>شما چه امتیازی به این محصول می دهید؟ <em class="required">*</em></h4>
                                                        <span id="input-message-box"></span>
                                                        <table id="product-review-table" class="data-table">

                                                            <thead>
                                                                <tr class="first last">
                                                                    <th>&nbsp;</th>
                                                                    <th><span class="nobr">1 *</span></th>
                                                                    <th><span class="nobr">2 *</span></th>
                                                                    <th><span class="nobr">3 *</span></th>
                                                                    <th><span class="nobr">4 *</span></th>
                                                                    <th><span class="nobr">5 *</span></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="first odd">
                                                                    <th>قیمت</th>
                                                                    <td class="value"><input type="radio" class="radio" value="1" id="Price_1" name="SurveyPrice"></td>
                                                                    <td class="value"><input type="radio" class="radio" value="2" id="Price_2" name="SurveyPrice"></td>
                                                                    <td class="value"><input type="radio" class="radio" value="3" id="Price_3" name="SurveyPrice"></td>
                                                                    <td class="value"><input type="radio" class="radio" value="4" id="Price_4" name="SurveyPrice"></td>
                                                                    <td class="value last"><input type="radio" class="radio" value="5" id="SurveyPrice" name="SurveyPrice"></td>
                                                                </tr>
                                                                <tr class="even">
                                                                    <th>ارزش خرید</th>
                                                                    <td class="value"><input type="radio" class="radio" value="1" id="Value_1" name="SurveyValue"></td>
                                                                    <td class="value"><input type="radio" class="radio" value="2" id="Value_2" name="SurveyValue"></td>
                                                                    <td class="value"><input type="radio" class="radio" value="3" id="Value_3" name="SurveyValue"></td>
                                                                    <td class="value"><input type="radio" class="radio" value="4" id="Value_4" name="SurveyValue"></td>
                                                                    <td class="value last"><input type="radio" class="radio" value="5" id="SurveyValue" name="SurveyValue"></td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                        <input type="hidden" class="validate-rating" name="ProductId" value="@Model.ProductId">
                                                        <div class="review1">
                                                            <ul>
                                                                <li>
                                                                    <label class="label-wide" for="review_field"> نظر <em style="color: #ff0000">*</em></label>
                                                                    <div class="input-box">
                                                                        <textarea class="required-entry" rows="3" cols="5" id="CommentDescription" name="CommentDescription"></textarea>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <div class="buttons-set">
                                                                <button class="button submit" title="ثبت نظر" type="submit"><span>ثبت نظر</span></button>
                                                            </div>
                                                        </div>
                                                        <div class="review2">
                                                            <ul class="form-list">
                                                                <li>
                                                                    <label class="required" for="nickname_field">نام و نام خانوادگی<em>*</em></label>
                                                                    <div class="input-box">
                                                                        <input type="text" class="input-text required-entry" id="PersonName" name="PersonName">
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <label class="required" for="summary_field">عنوان<em>*</em></label>
                                                                    <div class="input-box">
                                                                        <input type="text" class="input-text required-entry" id="CommentTitle" name="CommentTitle">
                                                                    </div>
                                                                </li>
                                                            </ul>

                                                        </div>
                                                    </fieldset>
                                                }
                                            </div>
                                        </div>
                                        <div class="box-reviews2" dir="rtl">
                                            <h3>نظرات مشتریان</h3>
                                            <div class="box visible">
                                                <ul>
                                                    @foreach (var item in Model.Comments)
                                                    {
                                                        if ((count / 2) == 1)
                                                        {
                                                            <li class="even">
                                                                <table class="ratings-table">

                                                                    <tbody>
                                                                        <tr>
                                                                            <th>ارزش خرید</th>
                                                                            <td>
                                                                                <div class="rating-box">
                                                                                    <div class="rating"></div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>قیمت</th>
                                                                            <td>
                                                                                <div class="rating-box">
                                                                                    <div class="rating"></div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <div class="review">
                                                                    <h6><a href="@Url.Action("Single",new {id = item.ProductId})">@item.Title</a></h6>
                                                                    <div class="review-txt"> @item.Desciption</div>
                                                                </div>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li>
                                                                <table class="ratings-table">

                                                                    <tbody>
                                                                        <tr>
                                                                            <th>ارزش خرید</th>
                                                                            <td>
                                                                                <div class="rating-box" id="test">
                                                                                    <div class="rating-@item.Vakue" ></div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>قیمت</th>
                                                                            <td>
                                                                                <div class="rating-box">
                                                                                    <div class="rating-@item.Price"></div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <div class="review">
                                                                    <h6><a href="@Url.Action("Single",new {id = item.ProductId})">@item.Title</a></h6>
                                                                    <div class="review-txt"> @item.Desciption</div>
                                                                </div>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="box-additional">
                                <div class="related-pro wow bounceInUp animated">
                                    <div class="slider-items-products">
                                        <div class="new_title center">
                                            <h2>محصولات مرتبط</h2>
                                        </div>
                                        <div id="related-products-slider" class="product-flexslider hidden-buttons">
                                            <div class="slider-items slider-width-col4">

                                                @foreach (var item in Model.RelatedProduct)
                                                {
                                                    <!-- Item -->
                                                    <div class="item">
                                                        <div class="col-item">
                                                            @if (item.Discount != null && item.Discount == 0)
                                                            {
                                                                <div class="sale-label sale-top-right">حراج</div>
                                                            }
                                                            <div class="product-image-area">
                                                                <a class="product-image" title="@item.NamePersian" href="@Url.Action("Single","Products",new{Id = item.Id})"> <img src="@Url.Content(item.ImageUrl)" class="img-responsive" alt="a" /> </a>
                                                                <div class="hover_fly">
                                                                    <a class="quick-view" href="@Url.Action("Single","Products",new{Id = item.Id})">
                                                                        <div>
                                                                            <i class="icon-eye-open"></i><span>مشاهده مقاله</span>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="info">
                                                                <div class="info-inner">
                                                                    <div class="item-title">
                                                                        <a title=" Sample Products" href="@Url.Action("Single","Products",new{Id = item.Id})"> @item.NamePersian </a>
                                                                    </div>
                                                                    <!--item-title-->
                                                                    <div class="item-content">
                                                                        @*<div class="ratings">
                                                                                <div class="rating-box">
                                                                                    <div class="rating"></div>
                                                                                </div>
                                                                            </div>*@
                                                                        @if (item.Discount != null && item.Discount == 0)
                                                                        {
                                                                            <div class="price-box">
                                                                                <p class="special-price">
                                                                                    <span class="price"> @item.Discount تومان</span>
                                                                                </p>
                                                                                <p class="old-price">
                                                                                    <span class="price-sep">-</span> <span class="price"> @item.Price تومان</span>
                                                                                </p>
                                                                            </div>
                                                                        }
                                                                        else
                                                                        {
                                                                            <div class="price-box">
                                                                                <span class="regular-price"> <span class="price">@item.Price تومان</span> </span>
                                                                            </div>
                                                                        }

                                                                    </div>
                                                                    <!--item-content-->
                                                                </div>
                                                                <!--info-inner-->
                                                                @*<div class="actions">
                                                                        <button type="button" title="Add to Cart" class="button btn-cart"><span>Add to Cart</span></button>
                                                                    </div>*@
                                                                <!--actions-->

                                                                <div class="clearfix"> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End Item -->

                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End main-container -->
@section ProductDetail{

    <script src="~/assets/js/jquery.jcarousel.min.js"></script>
    <script src="~/assets/js/cloudzoom.js"></script>
}