@model Article.Core.Entities.Product
@{
    ViewBag.Title = Model.NamePersian + Model.NameEnglish;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- main-container -->

<section class="main-container col1-layout">
    <div class="main container">
        <div class="col-main">
            <div class="row">
                <div class="product-view">
                    <div class="product-essential">
                        <form action="#" method="post" id="product_addtocart_form">
                            <input name="form_key" value="6UbXroakyQlbfQzK" type="hidden">
                            <div class="product-img-box col-lg-6 col-sm-6 col-xs-12">
                                <ul class="moreview" id="moreview">
                                    <li class="moreview_thumb thumb_1 moreview_thumb_active"> <img class="moreview_thumb_image" src="@Url.Content(Model.ImageUrl)" alt="thumbnail"> <img class="moreview_source_image" src="@Url.Content(Model.ImageUrl)" alt=""> <span class="roll-over">برای نمیش بهتر روی صفحه بچرخید تا تصویر را بزرگتر ببنید</span>                                                <img class="zoomImg" src="@Url.Content(Model.ImageUrl)" alt="thumbnail"></li>
                                    @*<li class="moreview_thumb thumb_2 moreview_thumb_active"> <img class="moreview_thumb_image" src="@Url.Content(Model.ImageUrl)" alt="thumbnail"> <img class="moreview_source_image" src="@Url.Content(Model.ImageUrl)" alt=""> <span class="roll-over">Roll over image to zoom in</span>                                                <img class="zoomImg" src="@Url.Content(Model.ImageUrl)" alt="thumbnail"></li>*@

                                </ul>
                                <div class="moreview-control">
                                    <a href="javascript:void(0)" class="moreview-prev"></a>
                                    <a href="javascript:void(0)" class="moreview-next"></a>
                                </div>
                            </div>
                            <div class="product-shop col-lg-6 col-sm-6 col-xs-12">
                                @*<div class="product-next-prev"> <a class="product-next" href="#"><span></span></a> <a class="product-prev" href="#"><span></span></a> </div>*@
                                <div class="product-name">
                                    <h1>@Model.NamePersian</h1>
                                </div>
                                @*<div class="ratings">
                                        <div class="rating-box">
                                            <div class="rating"></div>
                                        </div>
                                        <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Your Review</a> </p>
                                    </div>*@
                                <p class="availability in-stock">شماره مقاله: <span>@Model.SKU</span></p>
                                @if (Model.Discount != null && Model.Discount == 0)
                                {
                                    <div class="price-block">
                                        <div class="price-box">
                                            <p class="old-price">
                                                <span class="price-label">قیمت معمول:</span> <span class="price"> @Model.Price تومان</span>
                                            </p>
                                            <p class="special-price">
                                                <span class="price-label">قیمت ویژه</span> <span class="price"> @Model.Discount تومان</span>
                                            </p>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="price-block">
                                        <div class="price-box">
                                            <p class="special-price">
                                                <span class="price-label">قیمت معمول:</span> <span class="price"> @Model.Price تومان</span>
                                            </p>
                                        </div>
                                    </div>
                                }
                                <div class="add-to-box pull-right">
                                    <div class="add-to-cart">
                                        @*<button onClick="productAddToCartForm.submit(this)" class="button btn-cart" title="دانلود فایل" type="button"><span><i class="icon-basket"></i>دانلود مقاله</span></button>*@
                                        <a href="@Url.Action("Buy","Products",new {Id = Model.Id})" class="button btn-cart" title="دانلود فایل" type="button"><span><i class="icon-basket"></i>دانلود مقاله</span></a>
                                        <div class="email-addto-box">
                                            <p class="email-friend"><a href="#" class=""><span>ارسال ایمیل به دوستان</span></a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="social pull-right">
                                    <ul>
                                        <li class="fb">
                                            <a href="#"></a>
                                        </li>
                                        <li class="tw">
                                            <a href="#"></a>
                                        </li>
                                        <li class="googleplus">
                                            <a href="#"></a>
                                        </li>
                                        <li class="rss">
                                            <a href="#"></a>
                                        </li>
                                        <li class="pintrest">
                                            <a href="#"></a>
                                        </li>
                                        <li class="linkedin">
                                            <a href="#"></a>
                                        </li>
                                        <li class="youtube">
                                            <a href="#"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="product-collateral">
                        <div class="col-sm-12 wow bounceInUp animated">
                            <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                                <li class="active"> <a href="#product_tabs_article" data-toggle="tab"> اطلاعات مقاله </a> </li>
                                <li> <a href="#product_tabs_description_Persian" data-toggle="tab"> توضیحات فارسی </a> </li>
                                <li> <a href="#product_tabs_description_English" data-toggle="tab"> توضیحات انگلیسی </a> </li>
                                <li> <a href="#reviews_tabs" data-toggle="tab">Reviews</a> </li>
                            </ul>
                            <div id="productTabContent" class="tab-content">
                                <div class="tab-pane fade in active" id="product_tabs_article">
                                    <div class="std">
                                        <ul class="list-group text-right text-black" dir="rtl">
                                            <li class="list-group-item list-group-item-info">
                                                <span class="text-bold">عنوان مقاله</span>
                                                <ul class="list-group text-black">
                                                    <li class="list-group-item">@Model.NamePersian </li>
                                                    <li class="list-group-item">@Model.NameEnglish </li>
                                                </ul>
                                            </li>
                                            <li class="list-group-item list-group-item-info">
                                                <span class="text-bold">نویسندگان (موسسه انتشار دهنده)</span>
                                                <ul class="list-group text-black">
                                                    <li class="list-group-item">@Model.AuthorName </li>
                                                </ul>
                                            </li>
                                            <li class="list-group-item list-group-item-info">
                                                <span class="text-bold">سال انتشار</span>
                                                <ul class="list-group text-black">
                                                    <li class="list-group-item">@Model.YearPublish </li>
                                                </ul>
                                            </li>
                                            <li class="list-group-item list-group-item-info">
                                                <span class="text-bold">منابع اتخاذ شده</span>
                                                <ul class="list-group text-black">
                                                    <li class="list-group-item">@Html.Raw(Model.Source) </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane fade in active" id="product_tabs_description_Persian">
                                    <div class="std">
                                        @Html.Raw(Model.DescriptionPersian)
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="product_tabs_description_English">
                                    <div class="std">
                                        @Html.Raw(Model.DescriptionEnglish)
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="reviews_tabs">
                                    <div class="box-collateral box-reviews" id="customer-reviews">
                                        <div class="box-reviews1">
                                            <div class="form-add">
                                                <form id="review-form" method="post" action="#">
                                                    <h3>Write Your Own Review</h3>
                                                    <fieldset>
                                                        <h4>How do you rate this product? <em class="required">*</em></h4>
                                                        <span id="input-message-box"></span>
                                                        <table id="product-review-table" class="data-table">

                                                            <thead>
                                                                <tr class="first last">
                                                                    <th>&nbsp;</th>
                                                                    <th><span class="nobr">1 *</span></th>
                                                                    <th><span class="nobr">2 *</span></th>
                                                                    <th><span class="nobr">3 *</span></th>
                                                                    <th><span class="nobr">4 *</span></th>
                                                                    <th><span class="nobr">5 *</span></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="first odd">
                                                                    <th>Price</th>
                                                                    <td class="value"><input type="radio" class="radio" value="11" id="Price_1" name="ratings[3]"></td>
                                                                    <td class="value"><input type="radio" class="radio" value="12" id="Price_2" name="ratings[3]"></td>
                                                                    <td class="value"><input type="radio" class="radio" value="13" id="Price_3" name="ratings[3]"></td>
                                                                    <td class="value"><input type="radio" class="radio" value="14" id="Price_4" name="ratings[3]"></td>
                                                                    <td class="value last"><input type="radio" class="radio" value="15" id="Price_5" name="ratings[3]"></td>
                                                                </tr>
                                                                <tr class="even">
                                                                    <th>Value</th>
                                                                    <td class="value"><input type="radio" class="radio" value="6" id="Value_1" name="ratings[2]"></td>
                                                                    <td class="value"><input type="radio" class="radio" value="7" id="Value_2" name="ratings[2]"></td>
                                                                    <td class="value"><input type="radio" class="radio" value="8" id="Value_3" name="ratings[2]"></td>
                                                                    <td class="value"><input type="radio" class="radio" value="9" id="Value_4" name="ratings[2]"></td>
                                                                    <td class="value last"><input type="radio" class="radio" value="10" id="Value_5" name="ratings[2]"></td>
                                                                </tr>
                                                                <tr class="last odd">
                                                                    <th>Quality</th>
                                                                    <td class="value"><input type="radio" class="radio" value="1" id="Quality_1" name="ratings[1]"></td>
                                                                    <td class="value"><input type="radio" class="radio" value="2" id="Quality_2" name="ratings[1]"></td>
                                                                    <td class="value"><input type="radio" class="radio" value="3" id="Quality_3" name="ratings[1]"></td>
                                                                    <td class="value"><input type="radio" class="radio" value="4" id="Quality_4" name="ratings[1]"></td>
                                                                    <td class="value last"><input type="radio" class="radio" value="5" id="Quality_5" name="ratings[1]"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <input type="hidden" value="" class="validate-rating" name="validate_rating">
                                                        <div class="review1">
                                                            <ul class="form-list">
                                                                <li>
                                                                    <label class="required" for="nickname_field">Nickname<em>*</em></label>
                                                                    <div class="input-box">
                                                                        <input type="text" class="input-text required-entry" id="nickname_field" name="nickname">
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <label class="required" for="summary_field">Summary<em>*</em></label>
                                                                    <div class="input-box">
                                                                        <input type="text" class="input-text required-entry" id="summary_field" name="title">
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="review2">
                                                            <ul>
                                                                <li>
                                                                    <label class="label-wide" for="review_field">Review<em>*</em></label>
                                                                    <div class="input-box">
                                                                        <textarea class="required-entry" rows="3" cols="5" id="review_field" name="detail"></textarea>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <div class="buttons-set">
                                                                <button class="button submit" title="Submit Review" type="submit"><span>Submit Review</span></button>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="box-reviews2">
                                            <h3>Customer Reviews</h3>
                                            <div class="box visible">
                                                <ul>
                                                    <li>
                                                        <table class="ratings-table">

                                                            <tbody>
                                                                <tr>
                                                                    <th>Value</th>
                                                                    <td>
                                                                        <div class="rating-box">
                                                                            <div class="rating"></div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Quality</th>
                                                                    <td>
                                                                        <div class="rating-box">
                                                                            <div class="rating"></div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Price</th>
                                                                    <td>
                                                                        <div class="rating-box">
                                                                            <div class="rating"></div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="review">
                                                            <h6><a href="#/catalog/product/view/id/61/">Excellent</a></h6>
                                                            <small>Review by <span>Leslie Prichard </span>on 1/3/2014 </small>
                                                            <div class="review-txt">
                                                                I have purchased shirts from Minimalism a few times and am never disappointed. The quality is excellent and the shipping is amazing. It seems like it's at your front door the minute you
                                                                get off your pc. I have received my purchases within two days - amazing.
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="even">
                                                        <table class="ratings-table">

                                                            <tbody>
                                                                <tr>
                                                                    <th>Value</th>
                                                                    <td>
                                                                        <div class="rating-box">
                                                                            <div class="rating"></div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Quality</th>
                                                                    <td>
                                                                        <div class="rating-box">
                                                                            <div class="rating"></div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Price</th>
                                                                    <td>
                                                                        <div class="rating-box">
                                                                            <div class="rating"></div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="review">
                                                            <h6><a href="#/catalog/product/view/id/60/">Amazing</a></h6>
                                                            <small>Review by <span>Sandra Parker</span>on 1/3/2014 </small>
                                                            <div class="review-txt"> Minimalism is the online ! </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <table class="ratings-table">

                                                            <tbody>
                                                                <tr>
                                                                    <th>Value</th>
                                                                    <td>
                                                                        <div class="rating-box">
                                                                            <div class="rating"></div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Quality</th>
                                                                    <td>
                                                                        <div class="rating-box">
                                                                            <div class="rating"></div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Price</th>
                                                                    <td>
                                                                        <div class="rating-box">
                                                                            <div class="rating"></div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="review">
                                                            <h6><a href="#/catalog/product/view/id/59/">Nicely</a></h6>
                                                            <small>Review by <span>Anthony Lewis</span>on 1/3/2014 </small>
                                                            <div class="review-txt">
                                                                Unbeatable service and selection. This store has the best business model I have seen on the net. They are true to their word, and go the extra mile for their customers. I felt like a
                                                                purchasing partner more than a customer. You have a lifetime client in me.
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="actions">
                                                <a class="button view-all" id="revies-button"><span><span>View all</span></span></a>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="box-additional">
                                <div class="related-pro wow bounceInUp animated">
                                    <div class="slider-items-products">
                                        <div class="new_title center">
                                            <h2>محصولات مرتبط</h2>
                                        </div>
                                        <div id="related-products-slider" class="product-flexslider hidden-buttons">
                                            <div class="slider-items slider-width-col4">

                                                @foreach (var item in ViewBag.RelatedProducts)
                                                {
                                                    <!-- Item -->
                                                    <div class="item">
                                                        <div class="col-item">
                                                            @if (item.Discount != null && item.Discount == 0)
                                                            {
                                                                <div class="sale-label sale-top-right">حراج</div>
                                                            }
                                                            <div class="product-image-area">
                                                                <a class="product-image" title="@item.NamePersian" href="@Url.Action("Single","Products",new{Id = item.Id})"> <img src="@Url.Content(item.ImageUrl)" class="img-responsive" alt="a" /> </a>
                                                                <div class="actions-links">
                                                                    <span class="add-to-links"> <a title="magik-btn-quickview" class="magik-btn-quickview" href="@Url.Action("Single","Products",new{Id = item.Id})"><span>مشاهده مقاله</span></a> @*<a title="Add to Wishlist" class="link-wishlist" href="http://bit.do/bromq"><span>Add to Wishlist</span></a> <a title="Add to Compare" class="link-compare" href="compare.html"><span>Add to Compare</span></a>*@</span>
                                                                </div>
                                                            </div>
                                                            <div class="info">
                                                                <div class="info-inner">
                                                                    <div class="item-title">
                                                                        <a title=" Sample Products" href="@Url.Action("Single","Products",new{Id = item.Id})"> @item.NamePersian </a>
                                                                    </div>
                                                                    <!--item-title-->
                                                                    <div class="item-content">
                                                                        @*<div class="ratings">
                                                                                <div class="rating-box">
                                                                                    <div class="rating"></div>
                                                                                </div>
                                                                            </div>*@
                                                                        @if (item.Discount != null && item.Discount == 0)
                                                                        {
                                                                            <div class="price-box">
                                                                                <p class="special-price">
                                                                                    <span class="price"> @item.Discount تومان</span>
                                                                                </p>
                                                                                <p class="old-price">
                                                                                    <span class="price-sep">-</span> <span class="price"> @item.Price تومان</span>
                                                                                </p>
                                                                            </div>
                                                                        }
                                                                        else
                                                                        {
                                                                            <div class="price-box">
                                                                                <span class="regular-price"> <span class="price">@item.Price تومان</span> </span>
                                                                            </div>
                                                                        }

                                                                    </div>
                                                                    <!--item-content-->
                                                                </div>
                                                                <!--info-inner-->
                                                                @*<div class="actions">
                                                                        <button type="button" title="Add to Cart" class="button btn-cart"><span>Add to Cart</span></button>
                                                                    </div>*@
                                                                <!--actions-->

                                                                <div class="clearfix"> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End Item -->

                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End main-container -->
@section ProductDetail{

    <script src="~/assets/js/jquery.jcarousel.min.js"></script>
    <script src="~/assets/js/cloudzoom.js"></script>
}